<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Post</title>
    <% include partials/template/head.ejs %>

    <style>
        body 		{ word-wrap:break-word; }
    </style>
</head>
<body>
<% include partials/template/header.ejs %>
<div class="container">

    <div class="page-header text-left">
        <h1><span class="fa fa-anchor"></span>Post: <%= postData.PostTitle %></h1>
    </div>

    <div class="t3">

        <table class="t3">

            <tr><td class ="t1" valign="centre"><b>Post Language:   </b></td><td class ="t2"><%= postData.PostLanguage %></td></tr>

            <tr><td class ="t1" valign="centre"><b>Target Language:  </b></td><td class ="t2" ><%= postData.TargetLanguage %></td></tr>

            <tr><td class ="t1" valign="centre"><b>Author:  </b></td><td class ="t2" ><a href="/userProfile/<%= postData.PostCreator %>"><%= postData.PostCreator %></a></td></tr>

            <tr><td class ="t1" valign="centre"><b>Post:   </b></td><td class ="t2" ><%= postData.Description %></td></tr>

        </table>

        <p>_________________________________________________________________________________________________________________________________________________________________</p>
    </div>


  <% postData.Comments.forEach(function(item){ %>
    <div class="row">


        <div class="col-md-15 portfolio-item">
            <p><b>Commentator: </b><a href="/userProfile/<%= item.Commentator %>"><%= item.Commentator %></a></p>
            <table class="t3">

                <tr><td class ="t1" valign="centre"><b>Score:   </b></td>
                    <td class ="t2"><%= item.Count %></td>
                    <td class ="t2">
                        <form role="form" action="/increment" method="POST">
                            <input type="hidden" name="id" value=<%= item._id %>>
                            <button id= "<%= item._id %>"  type="submit" class="btn btn-default">UpVote</button>
                        </form></td>
                    <td class ="t2">
                        <form role="form" action="/decrement" method="POST">
                            <input type="hidden" name="id" value=<%= item._id %>>
                            <button id= "<%= item._id %>"  type="submit" class="btn btn-default">DownVote</button>
                        </form></td>
                </tr>
            </table>
            <p><b>Comment:  </b><%= item.Comment %></p>
            <p>______________________________________________________________________________________________________________________________________________</p>
        </div>
    </div>
    <% }); %>

    <% if(user != postData.PostCreator){ %>
    <div class="container">
        <form role="form" action="/naya3" method="POST">

            <div class="form-group">
                <label for="text" name="labelText">Your Comment:</label>
                <input type="hidden" name="postDomain" value=<%= postData.PostDomain %>>
                <textarea rows="5" cols="20" class="form-control" name="comment" placeholder="Please enter your comment!"></textarea>
            </div>


            <button type="submit" class="btn btn-default">Reply</button>
        </form>
    </div>
    <% } %>

</div>
</body>
</html>
