<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Post</title>
    <% include partials/template/head.ejs %>

    <style>
        body 		{ word-wrap:break-word; }
        .glyphicon-triangle-top {color:green;}
        .glyphicon-triangle-bottom {color:red;}
        button {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            outline: none;
            border: 0;
            background: transparent;
            background-color: transparent;
        }
        hr {
            border: 0;
            clear:both;
            display:block;
            width: 96%;
            background-color:#AAAAAA;
            height: 1px;
        }

    </style>
</head>
<body>
<% include partials/template/header.ejs %>
<script>
    setActiveTab("langPosts");
</script>

<div class="container">

    <div class="page-header text-left">
        <h1><span class="fa fa-anchor"></span>Post: <%= postData.PostTitle %></h1>
    </div>

    <div class="col-md-8 well portfolio-item">

        <table class="t3">

            <tr><td class ="t1" valign="centre"><b>Post Language:&nbsp&nbsp &nbsp</b></td><td class ="t2"><%= postData.PostLanguage %></td></tr>

            <tr><td class ="t1" valign="centre"><b>Target Language:&nbsp&nbsp &nbsp</b></td><td class ="t2" ><%= postData.TargetLanguage %></td></tr>

            <tr><td class ="t1" valign="centre"><b>Author:&nbsp&nbsp &nbsp</b></td><td class ="t2" ><a href="/userProfile/<%= postData.PostCreator %>"><%= postData.PostCreator %></a></td></tr>

            <tr><td class ="t1" valign="centre"><b>Post:&nbsp&nbsp &nbsp  </b></td><td class ="t2" ><%= postData.Description %></td></tr>

        </table>
    </div>
    <hr>

  <% postData.Comments.forEach(function(item){ %>

        <div class="col-md-8 portfolio-item">
            <p><b>Commentator: </b><a href="/userProfile/<%= item.Commentator %>"><%= item.Commentator %></a></p>
            <table class="t3">

                <tr><td class ="t1" valign="centre"><b>Score:   </b></td>
                    <td class ="t2"><%= item.Count %></td>
                    <div class="container column">
                    <td class ="t2">
                        <!-- todo : improve upvote-downvote buttons -->
                        <form role="form" action="/increment" method="POST">
                            <input type="hidden" name="id" value=<%= item._id %>>
                            <button id= "<%= item._id %>"  type="submit">
                                <h1  class="glyphicon glyphicon-triangle-top"></h1>
                            </button>
                        </form></td>
                    <td class ="t2">
                        <form role="form" action="/decrement" method="POST">
                            <input type="hidden" name="id" value=<%= item._id %>>
                            <button id= "<%= item._id %>"  type="submit">
                                <h1  class="glyphicon glyphicon-triangle-bottom"></h1>
                            </button>
                        </form></td>
                    </div>
                </tr>
            </table>
            <p><b>Comment:  </b><%= item.Comment %></p>

        </div>
    <hr>
    <% }); %>

    <% if(user != postData.PostCreator){ %>
    <div class="col-md-8">
        <form role="form" action="/naya3" method="POST">

            <div class="form-group">
                <label for="text" name="labelText">Your Comment:</label>
                <input type="hidden" name="postDomain" value=<%= postData.PostDomain %>>
                <textarea rows="5" cols="20" class="form-control" name="comment" placeholder="Please enter your comment!"></textarea>
            </div>


            <button type="submit" class="btn btn-default">Reply</button>
        </form>
    </div>
    <% } %>

</div>
<% include partials/template/footer.ejs %>
</body>
</html>
