<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>My Posts</title>
    <% include partials/template/head.ejs %>

    <style>
        body 		{ word-wrap:break-word; }
    </style>
</head>
<body>
<% include partials/template/header.ejs %>
<script>
    setActiveTab("myPosts");
</script>

<div class="container">

    <div class="page-header text-left">
        <h1><span class="fa fa-anchor"></span>Posts of <%= title %></h1>
    </div>


    <% userPosts.forEach(function(item){ %>
    <div class="container">


        <div class="col-md-10 well portfolio-item">
            <a href="#">
                <!--<img class="img-responsive" src="http://placehold.it/700x400" alt="">-->
            </a>
            <h3>
                <a href="langPost/<%= item.PostDomain %>"><%= item.PostTitle %></a>

            </h3>
            <p><b>Post Language: </b><%= item.PostLanguage %></p>
            <p><b>Target Language: </b><%= item.TargetLanguage %></p>
            <p><b>Post Creator: </b><%= item.PostCreator %></p>
        </div>

    </div>
    <% }); %>



</div>
<% include partials/template/footer.ejs %>
</body>
</html>
