<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>My Posts</title>
    <% include partials/template/head.ejs %>

    <style>
        body 		{ word-wrap:break-word; }
    </style>
</head>
<body>
<% include partials/template/header.ejs %>
<script>
    setActiveTab("myPosts");
</script>

<div class="container">

    <div class="page-header text-left">
        <h1><span class="fa fa-anchor"></span>Posts of <%= title %></h1>
    </div>


    <% userPosts.forEach(function(item){ %>
    <div class="container well portfolio-item" style="display:flex; align-items: center;">

            <div class="col-sm-11 ">
                <h3>
                    <a href="langPost/<%= item.PostDomain %>"><%= item.PostTitle %></a>

                </h3>
                <p><b>Post Language: </b><%= item.PostLanguage %></p>
                <p><b>Target Language: </b><%= item.TargetLanguage %></p>
                <p><b>Post Creator: </b><%= item.PostCreator %></p>
            </div>
            <a href="deletePost?dom=<%= item._id %>" class="col-sm-2" style="color: red;"  align="center">
                <h3 >delete<br><span style="font-size:32px" class="glyphicon glyphicon-minus"></span></h3>
            </a>

    </div>
    <% }); %>



</div>
<% include partials/template/footer.ejs %>
</body>
</html>
