<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>My Posts</title>
    <% include partials/template/head.ejs %>

    <style>
        body 		{ word-wrap:break-word; }
    </style>
</head>
<body>
<% include partials/template/header.ejs %>
<script>
    setActiveTab("myPosts");
</script>

<div class="container">

    <br/><br/>


    <% userPosts.forEach(function(item){ %>
    <div class="container col-md-10 well portfolio-item">
        <div class="row" style="display:flex; align-items:center">
            <div class="col-sm-10 ">
                <h4>
                    <a href="langPost/<%= item.PostDomain %>"><%= item.PostTitle %></a>

                </h4>
                <p><b>Post Language: </b><%= item.PostLanguage %></p>
                <p><b>Target Language: </b><%= item.TargetLanguage %></p>
                <p><b>Post Creator: </b><%= item.PostCreator %></p>
            </div>
            <div class="col-sm-2">
                <a href="deletePost?dom=<%= item._id %>" style="color: red; background-color:blue"  align="center">
                    <h4 >delete<br><span style="font-size:32px" class="glyphicon glyphicon-minus"></span></h4>
                </a>
            </div>
        </div>
    </div>
    <% }); %>



</div>
<% include partials/template/footer.ejs %>
</body>
</html>
