<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>My Profile</title>
	<% include partials/template/head.ejs %>

	<style>
		body 		{ word-wrap:break-word;}
        .row        {padding-left: 50px;}
	</style>
</head>
<body>
<% include partials/template/header.ejs %>
<script>
    setActiveTab("profile")
</script>

<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-user"></span> Info</h3>

                    <div class="row">
                        <img src="/uploads/<%= user.picture %>" height="150" width="150">
                        <form action="/upload" method="POST" enctype="multipart/form-data">
                            <input type="file" name="picture">
                            <input class="btn btn-default btn-sm" type="submit" value="Upload Image">
                        </form>
                    </div>

                    <strong>Username</strong>: <%= user.email %><br>
                    <strong>Native language</strong>: <%= user.nativeLanguage %><br>
                    <strong>Other language</strong>: <% for(i=0; i<user.otherLanguage.length && user.otherLanguage[i] !="";i++) { %>
                    <span> <%= user.otherLanguage[i] %>,&nbsp</span>
                    <% } %><br>
                    <strong>Remaining Credits</strong>: <%= user.credits %><br>
                    <strong>Score</strong>: <%= user.score_nb %><br>
                    <strong>Requested Help</strong>: <%= user.translations_nb %><br>
                    <strong>Provided Help</strong>: <%= user.reviews_nb %><br>
                    <strong>Profile created on</strong>: <%= user.profile_creation_date %><br>


                </div>
            </div>



            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-edit"></span> About me</h3>

                    <a id="init" onclick="dispEdit()"><span class="fa fa-plus"></span> Introduce yourself a bit...</a>
                    <div id="saved" style="visibility:hidden">
                        <form action="/modifyIntroduce" method="post">
                            <div>&nbsp&nbsp<%= user.introduce %></div>
                            <div name="introduce"></div>
                            <button type="submit" class="btn btn-default btn-sm pull-right">Erase</button>
                        </form>
                    </div>
                    <div id="edit" style="visibility:hidden">
                        <form action="/modifyIntroduce" method="post">
                            <textarea class="form-control" id="introduce" name="introduce" rows="5" placeholder="Write something about yourself..."></textarea><br>
                            <a onclick="dispInit()" class="btn btn-default btn-sm pull-right">Cancel</a>
                            <button type="submit" class="btn btn-default btn-sm pull-right">Save</button><br>
                        </form>
                    </div>


                </div>
            </div>
	</div>

    <script>
        function dispInit() {
            document.getElementById("init").style.visibility = "visible"
            document.getElementById("edit").style.visibility = "hidden"
            document.getElementById("saved").style.visibility = "hidden"
        }
        function dispEdit() {
            document.getElementById("init").style.visibility = "hidden"
            document.getElementById("edit").style.visibility = "visible"
            document.getElementById("saved").style.visibility = "hidden"
        }
        function dispSaved() {
            document.getElementById("init").style.visibility = "hidden"
            document.getElementById("edit").style.visibility = "hidden"
            document.getElementById("saved").style.visibility = "visible"
        }
    </script>
    <% if(user.introduce == null) { %>
    <script>dispInit()</script>
    <% } else { %>
    <script>dispSaved()</script>
    <% } %>


</div>
<% include partials/template/footer.ejs %>
</body>
</html>


